body{
    background: #eacda3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #d6ae7b, #eacda3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #d6ae7b, #eacda3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    padding: 10px;
}
.navbar-brand{
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.navbar-brand:hover{
    color:white;
    background-color: #d6ae7b;
}

.div{
    height: 80vh;
    display: flex;
    justify-content: center;
}
.engine{
    align-items: center;
    align-self: center;
    display: flex;
    flex-direction: row;
}